[train] #train parameters
shuffle = True
reader_num = 0
use_embedding_cache = False

[eval] #eval parameters
batch_size = 64
evaluator = TED_STS_Evaluator
reader_num = 0

[test]
batch_size = 64
evaluator = STS_Evaluator

[data] #data parameters
max_seq_length = 128
data_dir = /apdcephfs/share_1157269/karlding/dataset

[output] #output parameters
output_time = 5

[optim] #optimizer and lr_scheduler parameters
optimizer = multilingual
lr_scheduler = multilingual
delete_old=True
update_scheduler = step
