[logging]
identifier = minilm_rec_mcl

[train] #train parameters
epoch = 60
batch_size = 64

[data] #data parameters
train_dataset_type = parallel_separate_dataset
train_formatter =  teacher_sim_formatter
teacher_path = /apdcephfs/share_1157269/karlding/sbert/paraphrase-MiniLM-L12-v2

[model] #model parameters
model_name = rec_mcl
student_model_path = /apdcephfs/share_1157269/karlding/sbert/paraphrase-multilingual-MiniLM-L12-v2
emb_ckp_path =  /apdcephfs/share_1157269/karlding/mul_output_train/logs_train/minilm_alldata_albert_mse/2021_11_02__15_07_44/last_checkpoint_ep10.pth
repeat = 4
layers_to_keep = 3
scale = 20.0

[optim] #optimizer and lr_scheduler parameters
warmup_rate = 0.1
learning_rate =  16e-5
max_grad_norm = 1.0